.lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: $very-dark-gray;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
        @mixin animate($left, $name) {
            left: $left;
            animation: $name 0.6s infinite;
        }
        &:nth-child(1) {
            @include animate(8px, lds-ellipsis1)
        }
        &:nth-child(2) {
            @include animate(8px, lds-ellipsis2)
        }
        &:nth-child(3) {
            @include animate(32px, lds-ellipsis2)
        }
        &:nth-child(4) {
            @include animate(56px, lds-ellipsis3)
        }
    }
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}